body {
    color: rgb(19, 13, 11);
    background-image: url(../img/fond_site.jpg);
}

#status {
    background-color: red;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 15px;
}

#new-note {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    border-bottom-left-radius: 5px;
    padding-bottom: 15px;
}

hr {
    margin-bottom: 15px;
}

#list-note {
    background-color: rgba(23, 23, 23, 0.6);
    width: 80%;
    margin-left: 10%;
    height: 500px;
    overflow-y: auto;
}

.note {
    background-color: khaki;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 10px 10px 25px black;
}

.vue-note {
    display: inline-block;
    width: auto;
    min-width: 200px;
    max-width: 300px;
    margin-top: 10px;
    margin-left: 10px;
}

.max-center-in-form {
    width: 90%;
    margin-left: 5%;
}

.center {
    text-align: center;
}


/* gestion des inputs du formulaire */

#nom-note {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 5px;
    text-align: center;
    display: block;
}

#nom-note {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 5px;
    text-align: center;
    display: block;
}

#date-note,
#heure-note {
    width: 75px;
}


/*#description-note {}/*